stages:
  - lint
  - test
  - build
  - deploy

variables:
  image_name: flask_app                
  image_tag: python-app-1.0

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

lint:
  image: python:3.11-slim
  stage: lint
  before_script:
    - pip install ruff
  script:
    - ruff check .

run_tests:
  image: python:3.11-slim
  stage: test
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m unittest discover -s tests

build_image:
  stage: build
  image: docker:26
  services:
    - docker:26-dind

  before_script:
    - echo "$docker_pass" | docker login -u "$docker_user" --password-stdin docker.io
  script:
    - docker build -t "$docker_user/$image_name:$CI_COMMIT_SHORT_SHA" -t "$docker_user/$image_name:$image_tag" .
    - docker push "$docker_user/$image_name:$CI_COMMIT_SHORT_SHA"

deploy_to_render:
    stage: deploy
    image: alpine:3.20
    needs: ["build_image"]
    before_script:
    - apk add --no-cache curl
    script:
    - curl -fsSL -X POST "$RENDER_DEPLOY_HOOK_URL"
    rules:
    - if: $CI_COMMIT_BRANCH == "main"
    when: on_success
    